backend/src/main/resources/xml_schema/emailconfig_xml_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="email">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:string" name="username"/>
                            <xs:element type="xs:string" name="password"/>
                            <xs:element type="xs:string" name="host"/>
                            <xs:element type="xs:string" name="domain"/>
                            <xs:element type="emailType" name="from"/>
                            <xs:element type="emailType" name="to"/>
                            <xs:element type="xs:string" name="subject"/>
                            <xs:element type="xs:string" name="encoding"/>
                            <xs:element type="xs:string" name="enabled"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="emailType">
       <xs:restriction base="xs:string" >
           <xs:pattern value="[a-zA-Z1-9.]*@[a-zA-Z1-9.]"/>
       </xs:restriction>
    </xs:simpleType>
</xs:schema>